*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}
  
body{
   font-family: sans-serif;
}
  
header {
    position: fixed;  
    width: 100%;
    top: 0;
}
  
nav {
    background: rgb(10, 182, 182);
    color: #f5deb3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    padding-left: 50px;
    color: wheat;
    cursor: pointer;
}

nav .mainMenu {
    display: flex;
    float: right;
    padding-right: 50px;
}


nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: wheat;
}

nav .mainMenu li a:hover {
    background: rgb(255,94,0);
}

nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu , .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}


.box-motivation {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(10, 182, 182);
    height: 400px;
}

.container-1, .container-2 {
    background-color: white;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgb(146, 143, 143);
    transition: 0.7s;
}

.container-1:hover, .container-2:hover {
    margin-top: 70px;
}

.motivation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
}

.expression {
    font-style: oblique;
    line-height: 25px;
    font-family: serif;
}

.motivator {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 0 80px;
}

.name {
    font-weight: bold;
    color: orange;
    padding-right: 20px;
}

.image img {
    border-radius: 100px;
    background-color: orchid;
}

.container-4 {
    background-image: url(img/blue-snow.png);
    width: 100%;    
}

figcaption {
    background-color: rgb(10, 182, 182);
    height: 400px;    
}

.box-caption {
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
}

.caption p:first-child {
    font-size: 6em;
    color: rgb(243, 49, 49);
}

.caption p:last-child {
    font-size: 3em;
    color: white;
}

article {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 100px;
}

.container-3 {
    font-size: 25px;
    font-weight: bold;
    padding: 80px 20px 0 20px;
}


.box-3m {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.tiga-m {
    font-size: 100px;
    font-weight: bold;
}

.tiga-m span {
    color: rgb(243, 49, 49);
}

.tiga-m-detail {
    color: rgb(243, 49, 49);
    font-weight: bold;
    font-size: 20px;
}

figure {
    padding: 20px;
    
}

figure ul {
    display: flex;
    justify-content: space-between;
}

figure ul li img {
    width: 250px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid rgb(218, 215, 215);
}

figure ul li p{
    text-align: center;
    font-weight: bold;
    color: red;
}

section {
    margin: 50px 10px 0 10px;
}

section p {
    line-height: 30px;
    padding: 0 20px;
    color: rgb(73, 72, 72);
}

#isi {
    margin-bottom: 50px;
}

.box-container-5 {
    padding-top: 30px;
    display: flex;
    align-items: center;
}

.container-5 p {
    color: rgb(73, 72, 72);
}

.container-5 p:first-child {
    font-weight: bold;
}

.closing {
    padding: 100px 0;
}

footer {
    background-color: rgb(59, 59, 59);
}

.box-footer {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.contact {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    height: 200px;
    justify-content: space-between;
    padding-top: 50px;
    margin-right: 50px;
}

.contact li {
    display: flex;
    margin-bottom: 10px;
    max-width: 200px;
}

.contact li p:hover {
    color: white;
}

.contact li img {
   margin-right: 15px;
}

.contact h4 {
    color: rgb(192, 190, 190);
}

.contact p {
    color: rgb(192, 190, 190);
    font-size: 14px;
}

.pointer {
    cursor: pointer;
}

.thankyou {
    color: rgb(192, 190, 190);
    font-size: 1.5em;
    margin-top: 50px;
}

.thankyou span {
    color: orange;
}

.copyright {
    text-align: center;
    margin-top: 50px;
    padding: 15px 0;
    color: rgb(192, 190, 190);
    font-size: 15px;
    border-top: 1px solid rgb(78, 78, 78);
}

.copyright span {
    font-weight: bold;
}
